@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    --primary-color: #faf8f6;
    --secundary-color: #231107;
    --terciary-color: #184A2B;
    --cuaternary-color: #D16320;
    --fifth-color: #F1E4DC;
}
/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #e2c9af;
}
ul {
    list-style: none;
    color: #e2c9af;
}
li {
    width: fit-content;
    margin-bottom: 6px;
    font-size: 1.2rem;
    font-weight: 400;
}
li:hover {
    color: var(--primary-color);
    cursor: pointer;
}
/* Scroll-bar */
.scroll-cards::-webkit-scrollbar {
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #148840;
    border-radius: 32px;
}
::-webkit-scrollbar-thumb:hover {
    background: #19ad52;
}
/* animation */
@keyframes arrow {
    0%      {top: 0px;}
    50%     {top: 20px;}
    100%    {top: 0px;}
}

/* Styles fonts */
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}
h2 {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}
h3 {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-color);
}
h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--terciary-color);
    text-align: center;
}
p {
    font-size: 1.2rem;
    font-weight: 400;
}
/* Styles standard */
section {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 20px;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 27px 20px;
    margin: 0 auto;
    color: var(--primary-color);
    background-color: var(--secundary-color);
    z-index: 3;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* until 564px  */
.background-image {
    position: absolute;
    top: -26px;
    z-index: 0;
    width: 100%;
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url('../images/presentation-image/presentation-image-small.png');
    overflow-x: hidden;
}
.background-image-medium {
    display: none;
}

/* 400px small image */
@media screen and (min-width: 401px) {
    .background-image {
        top: calc(100vw / -3);
        background-image: url('../images/presentation-image/presentation-image-medium.jpg');
    }
}

/* until 580px */
@media screen and (min-width: 455px) {
    .background-image {
        top: calc(100vw / -1.8);
        height: 1366px;
    }
}

/* until 844px */
@media screen and (min-width: 580px) {
    .background-image {
        display: none;
    }
    .background-image-medium {
        display: block;
        position: absolute;
        /* top: 0; */
        top: calc(100vw / -5);
        right: 0px;
        width: 54%;
        height: 1366px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../images/presentation-image/presentation-image-medium.jpg');
        z-index: 0;
    }
}

@media screen and (min-width: 844px) {
    * {
        font-size: 12px;
    }
    .header {
        padding: 27px 40px;
    }
    .background-image-medium {
        top: 0;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-image: url('../images/presentation-image/presentation-image-new-large.jpg'); */
        /* background-image: url('../images/presentation-image/presentation-image-large-crop.jpg'); */
        background-image: url('../images/presentation-image/living-room-interior-room-wall-mockup-in-warm-tones-with-dark-blue-armchair-on-wooden-flooring-3d-rendering.jpg');
    }
    main .main__principal-section {
        padding: 62px 40px;
    }
    section {
        padding: 30px 40px;
    }
    .main__principal-section--texts .main__principal-section--cta-btn {
        width: 110px;
        padding: 6px 0px;
    }
}

@media screen and (min-width: 1100px) {
    * {
        font-size: 13.2px;
    }
    .header {
        padding: 27px 64px;
    }
    main .main__principal-section {
        padding: 62px 64px;
    }
    section {
        padding: 38px 64px;
    }
}
@media screen and (min-width: 1500px) {
    .main__principal-section {
        padding: 62px 120px;
    }
}

.main__container {
    position: relative;
    top: 0;
    z-index: 2;
}

.main__principal-section {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 440px;
    padding: 62px 20px;
}
.decorative-background {
    position: absolute;
    top: 0;
    left: 0px;
    width: 46%;
    height: 100%;
    background: rgba( 241, 228, 220, 0.6 );
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 1;
}
.main__principal-section--texts {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
}
.main__principal-section--text {
    font-weight: 400;
    margin-bottom: 40px;
    color: var(--secundary-color);
}
.main__principal-section--cta-btn {
    display: block;
    width: 94px;
    padding: 6px 0px;
    border: 1.5px solid var(--secundary-color);
    border-radius: 8px;
    margin-bottom: 40px;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secundary-color);
    background-color: var(--primary-color);
}
i.arrow {
    position: relative;
    animation-name: arrow;
    animation-duration: 1.6s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.31, 0.01, 0.29, 0.98);
    animation-iteration-count: infinite;
}


.main__categories {
    background-color: var(--terciary-color);
}
.main-categories__container {
    max-width: 1200px;
    margin: 0 auto;
}
.scroll-cards {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 8px;
    margin-top: 20px;
}
.card {
    display: block;
    min-width: 135px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-size: cover;
    background-color: var(--fifth-color);
    cursor: pointer;
}
.card img {
    position: relative;
    left: 50%;
    transform: translate(-58%, 0%);
}
.card p {
    color: var(--secundary-color);
    text-align: center;
}



.main__new-season {
    width: 100%;
    background-color: var(--primary-color);
}
.main-new-season__container {
    max-width: 1200px;
    margin: 0 auto;
}
.main__new-season--title {
    color: var(--terciary-color);
}
.new-season-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    margin-top: 20px;
}
.card-grid {
    overflow: hidden;
    border-radius: 8px;
    background-size: cover;
    background-color: var(--fifth-color);
    cursor: pointer;
}
.card-grid img {
    width: 100%;
}
.card-grid p {
    padding: 10px;
    color: var(--secundary-color);
}

.main__warranty {
    padding: 20px 20px;
    background-color: var(--terciary-color);
}
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}
.main__warranty--card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 360px;
    padding: 30px;
    border-radius: 8px;
    margin: 10px 0;
    background-color: var(--primary-color);
}
.warranty-card__icon {
    display: block;
    /* margin-top: 12px; */
    color: var(--secundary-color);
    text-align: center;
}
.warranty-card__title {
    margin-top: 6px;
    text-align: center;
    color: var(--secundary-color);
}
.warranty-card__text {
    margin-top: 6px;
    color: var(--secundary-color);
    text-align: center;
}


.main__promotion--title {
    font-weight: 400;
    text-align: center;
    color: var(--secundary-color);
}
#main__promotion--form {
    position: relative;
    max-width: 640px;
    margin-top: 10px;
    margin: 10px auto 0 auto;
}
#main__promotion--form input {
    width: 100%;
    height: 32px;
    padding-left: 16px;
    border: 0.5px solid #bdbdbd;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.main__promotion--btn {
    position: absolute;
    right: 0;
    width: 104px;
    height: 32px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--cuaternary-color);
    cursor: pointer;
}
.main__promotion--btn img {
    width: 16px;
}



.footer {
    width: 100%;
    padding: 30px 20px;
    background-color: var(--secundary-color);
}
.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer__texts {
    display: inline-block;
    padding: 10px 0;
}
.contact {
    display: flex;
}
.contact i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: var(--primary-color);
}