@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    --primary-color: #faf8f6;
    --secundary-color: #231107;
    --terciary-color: #184A2B;
    --cuaternary-color: #D16320;
    --fifth-color: #F1E4DC;
}
/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #e2c9af;
}
ul {
    list-style: none;
    color: #e2c9af;
}
li {
    width: fit-content;
    margin-bottom: 6px;
    font-size: 1.2rem;
    font-weight: 400;
}
li:hover {
    color: var(--primary-color);
    cursor: pointer;
}
/* Scroll-bar */
.scroll-cards::-webkit-scrollbar {
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #148840;
    border-radius: 32px;
}
::-webkit-scrollbar-thumb:hover {
    background: #19ad52;
}
/* animation */
@keyframes arrow {
    0%      {top: 0px;}
    50%     {top: 20px;}
    100%    {top: 0px;}
}

/* Styles fonts */
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}
h2 {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}
h3 {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-color);
}
h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--terciary-color);
    text-align: center;
}
p {
    font-size: 1.2rem;
    font-weight: 400;
}
#hamburger-icon {
    display: none;
    font-size: 1.4rem;
    cursor: pointer;
}
section {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 20px;
}


.logo {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}
.header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 27px 20px;
    margin: 0 auto;
    color: var(--primary-color);
    background-color: var(--secundary-color);
    z-index: 3;
}
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header__list {
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.header__list--text a:hover {
    color: var(--fifth-color);
}


.main__product-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-container {
    width: 50%;
    border-radius: 8px;
}
.product-container img {
    width: 100%;
    
}

.product-information {
    width: 50%;
}
.title-product {
    color: var(--secundary-color);
}
.product-review-container {
    display: flex;
    gap: 80px;
}

.price-product {
    margin: 20px 0;
    color: var(--secundary-color);
    text-align: left;
}
.shipping-method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--fifth-color);
}

.to-buy-product {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 108px;
    padding: 20px;
    border: 2px solid var(--cuaternary-color);
    border-radius: 2px;
}
.quantity i {
    cursor: pointer;
}
.to-buy {
    width: 100%;
    padding: 22px 20px;
    text-align: center;
    background-color: var(--cuaternary-color);
    cursor: pointer;
}


.specification-product {
    border-top: 2px solid var(--secundary-color);
    padding: 20px;
}
.specification-product__title {
    margin-bottom: 10px;
    color: var(--secundary-color);
}
.specification-list {
    list-style: disc;
    color: var(--secundary-color);
}
.specification-list li {
    pointer-events: none;
}
.specification-list li:hover {
    color: var(--secundary-color);
}


.main__promotion-email {
    border-top: 2px solid var(--secundary-color);
}
.main__promotion--title {
    font-weight: 400;
    text-align: center;
    color: var(--secundary-color);
    pointer-events: none;
}
#main__promotion--form {
    position: relative;
    max-width: 640px;
    margin-top: 10px;
    margin: 10px auto 0 auto;
}
#main__promotion--form input {
    width: 100%;
    height: 32px;
    padding-left: 16px;
    border: 0.5px solid #bdbdbd;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.main__promotion--btn {
    position: absolute;
    right: 0;
    width: 104px;
    height: 32px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--cuaternary-color);
    cursor: pointer;
}
.main__promotion--btn img {
    width: 16px;
}


.footer {
    width: 100%;
    padding: 30px 20px;
    background-color: var(--secundary-color);
}
.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer__texts {
    display: inline-block;
    padding: 10px 0;
}
.footer__texts--list a:hover{
    color: var(--fifth-color);
}
.contact {
    display: flex;
    margin-top: 8px;
}
.contact i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: var(--primary-color);
}
.fa-github, .fa-linkedin, .fa-instagram {
    padding: 7px 0;
    color: var(--secundary-color);
    font-size: 2rem;
    text-align: center;
}